<form  #searchForm ="ngForm">
	<span class="p-input-icon-left">
		<i  [style]="{  'margin-left': '19px', 'padding-right': '99px'}"  class="pi pi-search "></i>
		<input  [(ngModel)]="fullName"  name="fullName"  type="search" (input)="getSearchResult(searchForm.value.fullName)"  [style]="{'width':'430%','margin':'10px', 'padding':'25px', 'text-indent': '20px'}"  type="text" pInputText class="p-inputtext-lg" />
	</span>
	
</form>


<div style="text-align: center" *ngIf="dataUnIndividualChecker == 1">
	<h2 style="color: green">Record in UN Sanction List</h2>


	<p-table [value]="unIndividualResponseDetailList"  [paginator]="true"  [rows]="9 "   [showCurrentPageReport]="true"   [tableStyle]="{ 'min-width': '50rem' }"   currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"   [rowsPerPageOptions]="[5, 25, 50]"	> 
		<ng-template pTemplate="header">
			<tr>
				<th>Full Name</th>
				<th>Id</th>
			
			</tr>
		</ng-template>
		<ng-template pTemplate="body"  let-unIndividualResponseDetail>
			<tr ><td>{{unIndividualResponseDetail?.firstName + "  " + unIndividualResponseDetail?.secondName + "  "  + unIndividualResponseDetail?.thirdName + "  " + unIndividualResponseDetail?.fourthName}}</td>

				<td>{{unIndividualResponseDetail?.id}}</td>
			</tr>
		</ng-template>
	</p-table>

</div>




