<c-card class="mb-4">
  <c-card-body>
    <c-row>
      <c-col sm="5">
        <h4 class="card-title mb-0" id="traffic">Users</h4>
        <div class="small text-medium-emphasis">January - December 2023</div>
      </c-col>
    </c-row>
    <c-chart [data]="mainChart.data" [height]="300" [ngStyle]="{ 'marginTop.px': 40 }" [options]="mainChart.options"
      [type]="mainChart.type">
      Main chart
    </c-chart>
  </c-card-body>
  <c-card-footer>
    <c-row class="text-center" [md]="5" [xs]="1">
      <c-col class="mb-sm-2 mb-0">
        <div class="text-medium-emphasis">New Users</div>
        <strong>{{numberofNewUsers}} Users</strong>
        <c-progress class="mt-2" thin>
          <c-progress-bar color="info" value={{numberofNewUsers}}></c-progress-bar>
        </c-progress>
      </c-col>
      <c-col class="mb-sm-2 mb-0">
        <div class="text-medium-emphasis">Total users</div>
        <strong>{{dashdata.allUsers}} users</strong>
        <c-progress class="mt-2" thin>
          <c-progress-bar color="dark" value={{dashdata.allUsers}}></c-progress-bar>
        </c-progress>
      </c-col>
      <c-col class="mb-sm-2 mb-0">
        <div class="text-medium-emphasis">Active Authorities</div>
        <strong>{{dashdata.activeAuth}} Authorities</strong>
        <c-progress class="mt-2" thin>
          <c-progress-bar color="danger" value={{dashdata.activeAuth}}></c-progress-bar>
        </c-progress>
      </c-col>
      <c-col class="mb-sm-2 mb-0">
        <div class="text-medium-emphasis">Total Authorities</div>
        <strong>{{dashdata.allAuth}} Authorities</strong>
        <c-progress class="mt-2" thin>
          <c-progress-bar color="danger" value={{dashdata.allAuth}}></c-progress-bar>
        </c-progress>
      </c-col>
      <c-col class="mb-sm-2 mb-0">
        <div class="text-medium-emphasis">Total Divisons</div>
        <strong>{{dashdata.allDivision}} divisions</strong>
        <c-progress class="mt-2" thin>
          <c-progress-bar color="primary" value={{dashdata.allDivision}}></c-progress-bar>
        </c-progress>
      </c-col>
    </c-row>
  </c-card-footer>
</c-card>


<c-row>
  <c-col xs>
    <c-card class="mb-4">
      <c-card-header>Traffic {{ "&" }} Statistics</c-card-header>
      <c-card-body>
        <c-row>
          <c-col md="6" xl="6" xs="12">
            <c-row>
              <c-col sm="6">
                <div class="border-start border-start-4 border-start-success py-1 px-3 mb-3">
                  <div class="text-medium-emphasis small">Page views</div>
                  <div class="fs-5 fw-semibold">{{dashdata.pageViewToday}}</div>
                </div>
              </c-col>
              <c-col sm="6">
                <div class="border-start border-start-4 border-start-secondary py-1 px-3 mb-3">
                  <div class="text-medium-emphasis small">
                    Total logged in
                  </div>
                  <div class="fs-5 fw-semibold">{{dashdata.todayLogin}}</div>
                </div>
              </c-col>
            </c-row>

            <hr class="mt-0" />
            <div class="progress-group">
              <div class="progress-group-header">
                <span>User</span>
                <span class="ms-auto font-semibold"><span class="text-medium-emphasis small">({{userV}}%)</span>
                </span>
              </div>
              <div class="progress-group-bars">
                <c-progress thin>
                  <c-progress-bar color="success" value={{userV}}></c-progress-bar>
                </c-progress>
              </div>
            </div>
            <div class="progress-group">
              <div class="progress-group-header">
                <span>Director</span>
                <span class="ms-auto font-semibold"><span class="text-medium-emphasis small">({{directorV}}%)</span>
                </span>
              </div>
              <div class="progress-group-bars">
                <c-progress thin>
                  <c-progress-bar color="success" value={{directorV}}></c-progress-bar>
                </c-progress>
              </div>
            </div>
            <div class="progress-group">
              <div class="progress-group-header">
                <span>Admin</span>
                <span class="ms-auto font-semibold"><span class="text-medium-emphasis small">({{adminV}}%)</span>
                </span>
              </div>
              <div class="progress-group-bars">
                <c-progress thin>
                  <c-progress-bar color="success" value={{adminV}}></c-progress-bar>
                </c-progress>
              </div>
            </div>
          </c-col>

          <c-col md="6" xl="6" xs="12">
            <c-row>
              <c-col sm="6">
                <div class="border-start border-start-4 border-start-warning py-1 px-3 mb-3">
                  <div class="text-medium-emphasis small">Total Employee</div>
                  <div class="fs-5 fw-semibold">{{dashdata.allEmployee}}</div>
                </div>
              </c-col>
              <c-col sm="6">
                <div class="border-start border-start-4 border-start-info py-1 px-3 mb-3">
                  <div class="text-medium-emphasis small">New Users</div>
                  <div class="fs-5 fw-semibold">{{numberofNewUsers}}</div>
                </div>
              </c-col>

            </c-row>

            <hr class="mt-0" />

            <div class="progress-group mb-4">
              <div class="progress-group-header">
                <svg cIcon class="icon icon-lg me-2" name="cilUser"></svg>
                <span>Male</span>
                <span class="ms-auto font-semibold">{{100 - femalepercent}}%</span>
              </div>
              <div class="progress-group-bars">
                <c-progress thin>
                  <c-progress-bar color="warning" value={{malepercent}}></c-progress-bar>
                </c-progress>
              </div>
            </div>
            <div class="progress-group mb-5">
              <div class="progress-group-header">
                <svg cIcon class="icon icon-lg me-2" name="cilUserFemale"></svg>
                <span>Female</span>
                <span class="ms-auto font-semibold">{{femalepercent}}%</span>
              </div>
              <div class="progress-group-bars">
                <c-progress thin>
                  <c-progress-bar color="warning" value={{femalepercent}}></c-progress-bar>
                </c-progress>
              </div>
            </div>
          </c-col>
        </c-row>
      </c-card-body>
    </c-card>
  </c-col>
</c-row>
<c-row>
  <c-col xs>
    <c-card class="mb-4">
      <c-card-header>Recent users</c-card-header>
      <c-card-body>
        <table [hover]="true" [responsive]="true" [striped]="true" cTable class="mb-0 border">
          <caption>Table Description</caption>
          <thead cTableColor="light">
            <tr>
              <th class="text-center">ID</th>
              <th>User</th>
              <th>Role</th>
              <th>Activity</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let user of dashdata.recentUsers; index as i">
              <td class="text-center">{{i+1}}</td>
              <td>
                <div>{{ user.name }}</div>
              </td>
              <td>{{user.role}}</td>
              <td>
                <div class="small text-medium-emphasis">Last seen</div>
                <div class="fw-semibold text-nowrap">{{ user.lastlogin }}</div>
              </td>
            </tr>
          </tbody>
        </table>
      </c-card-body>
    </c-card>
  </c-col>
</c-row>
