<p-messages style="position: absolute; z-index: 1; right: 1em; margin: -1em 0;"></p-messages>
<div *ngIf="newDiv">
  <form #addEmplForm="ngForm" (ngSubmit)="addEmplloyee(addEmplForm)">

    <div class="flex flex-wrap gap-2 mb-4">
      <div class="flex-auto">
        <label for="alphabetic" class=" block mb-2"> First Name: </label>
        <input pInputText id="alphabetic" ngModel name="givenName" [style]="{'width':'630px','height':'45px'}" required
          minlength="3" pKeyFilter="alpha" />
      </div>
      <div class="flex-auto">
        <label for="alphabetic" class=" block mb-2"> Father Name: </label>
        <input pInputText id="alphabetic" ngModel name="fatherName" [style]="{'width':'630px','height':'45px'}" required
          minlength="3" pKeyFilter="alpha" />
      </div>
    </div>

    <div class="flex flex-wrap gap-2 mb-4">
      <div class="flex-auto">
        <label for="alphabetic" class=" block mb-2"> Grand Father Name: </label>
        <input pInputText id="alphabetic" ngModel name="grandFatherName" [style]="{'width':'630px','height':'45px'}"
          required minlength="3" pKeyFilter="alpha" />
      </div>
      <div class="flex-auto">
        <label for="alphabetic" class=" block mb-2"> Position: </label>
        <input pInputText id="alphabetic" ngModel name="position" type="text"
          [style]="{'width':'630px','height':'45px'}" required minlength="2" />
      </div>
    </div>


    <div class="flex flex-wrap gap-2 mb-4">
      <div class="flex-auto">
        <label for="alphanumeric2" class=" block mb-2"> Email: </label>
        <input pInputText id="alphanumeric2" ngModel name="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$"
          [style]="{'width':'630px','height':'45px'}" required minlength="10" />
      </div>

      <div class="flex-auto">
        <label for="alphanumeric" class=" block mb-2"> CBO Email: </label>
        <input pInputText id="alphanumeric" ngModel name="cboEmail" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$"
          [style]="{'width':'630px','height':'45px'}" required minlength="10" />
      </div>
    </div>

    <div class="flex flex-wrap gap-2 mb-4">
      <div class="flex-auto">
        <label for="hex" class=" block mb-2"> Division: </label>
        <p-dropdown [options]="divisions" name="divisionId" optionLabel="name" [filter]="true" ngModel
          [(ngModel)]="selectedDivision" filterBy="name" [showClear]="true" placeholder="Select division"
          styleClass="p-password" [style]="{'width':'630px','height':'45px'}" [required]="true">
          <ng-template pTemplate="selectedItem">
            <div class="flex align-items-center gap-2" *ngIf="selectedDivision">
              <div>{{ selectedDivision.name}}</div>
            </div>
          </ng-template>
          <ng-template let-division pTemplate="item">
            <div class="flex align-items-center gap-2">
              <div>{{division.name}}</div>
            </div>
          </ng-template>
        </p-dropdown>
      </div>
      <div class="flex-auto">
        <label for="number" class=" block mb-2"> Phone number: </label>
        <input pInputText id="number" ngModel name="phoneNumber" [style]="{'width':'630px','height':'45px'}" required
          minlength="10" pKeyFilter="num" />
      </div>
    </div>

    <div class="flex flex-wrap gap-2 mb-4" >
      <div class="flex-auto">
        <label class="block mb-2"> Gender: </label>
        <div [style]="{'width':'630px','height':'45px'}" class="flex flex-wrap gap-3">
          <div class="flex align-items-center">
            <p-radioButton name="gender" [(ngModel)]="gender" value="Male" required></p-radioButton>
            <label class="ml-2">Male</label>
          </div>

          <div class="flex align-items-center">
            <p-radioButton name="gender" [(ngModel)]="gender" value="Female" required></p-radioButton>
            <label class="ml-2">Female</label>
          </div>

        </div>
      </div>
      <div class="flex-auto">
        <label for="number" class=" block mb-2"> Date of birth: </label>
        <p-calendar id="number" ngModel name="birthDate" [showIcon]="true" dateFormat="dd/mm/yy"
          [style]="{'width':'630px','height':'45px'}" [required]="true" [maxDate]="maxDate"></p-calendar>
      </div>
    </div>

    <div class="flex flex-wrap gap-2 mb-8">
      <div class="flex-auto">
        <label for="integer" class=" block mb-2"> Employee Image: </label>
        <p-fileUpload name="demo[]" (onSelect)="onSelect1($event)" [showUploadButton]=false accept="image/*"
          [style]="{'width':'630px','height':'45px'}" [maxFileSize]="1000000" required>
          <ng-template pTemplate="content">
            <ul *ngIf="uploadedFiles.length">
              <li *ngFor="let file of uploadedFiles">{{ file.name }} - {{ file.size }} bytes</li>
            </ul>
          </ng-template>
        </p-fileUpload>
      </div>

      <div class="flex-auto">
        <label for="integer" class=" block mb-2"> Signature Image: </label>
        <p-fileUpload name="demo[]" (onSelect)="onSelect2($event)" [showUploadButton]=false accept="image/*"
          [style]="{'width':'630px','height':'45px'}" [maxFileSize]="1000000" required>
          <ng-template pTemplate="content">
            <ul *ngIf="uploadedFiles.length">
              <li *ngFor="let file of uploadedFiles">{{ file.name }} - {{ file.size }} bytes</li>
            </ul>
          </ng-template>
        </p-fileUpload>
      </div>
    </div>


    <p-button label="Create employee" type="submit" class="mb-5 bottom" [disabled]="addEmplForm.invalid"></p-button>
  </form>
</div>


<div *ngIf="update">
  <form #updateEmplForm="ngForm" (ngSubmit)="updateEmployee(updateEmplForm)">
    <input type="hidden" name="id" ngModel [(ngModel)]="idY">
    <div class="flex flex-wrap gap-2 mb-3">
      <div class="flex-auto">
        <label for="alphabetic" class=" block mb-2"> First Name: </label>
        <input pInputText id="alphabetic" ngModel [(ngModel)]="employee.givenName" name="givenName"
          [style]="{'width':'630px','height':'45px'}" required minlength="3" pKeyFilter="alpha" />
      </div>
      <div class="flex-auto">
        <label for="alphabetic" class=" block mb-2"> Father Name: </label>
        <input pInputText id="alphabetic" ngModel [(ngModel)]="employee.fatherName" name="fatherName"
          [style]="{'width':'630px','height':'45px'}" required minlength="3" pKeyFilter="alpha" />
      </div>
    </div>

    <div class="flex flex-wrap gap-2 mb-3">
      <div class="flex-auto">
        <label for="alphabetic" class=" block mb-2"> Grand Father Name: </label>
        <input pInputText id="alphabetic" ngModel [(ngModel)]="employee.grandFatherName" name="grandFatherName"
          [style]="{'width':'630px','height':'45px'}" required minlength="3" pKeyFilter="alpha" />
      </div>
      <div class="flex-auto">
        <label for="alphabetic" class=" block mb-2"> Position: </label>
        <input pInputText id="alphabetic" ngModel [(ngModel)]="employee.position" name="position"
          [style]="{'width':'630px','height':'45px'}" required minlength="3" />
      </div>
    </div>

    <div class="flex flex-wrap gap-2 mb-3">
      <div class="flex-auto">
        <label for="alphanumeric" class=" block mb-2"> Email: </label>
        <input pInputText id="alphanumeric" ngModel [(ngModel)]="employee.email"
          pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" name="email" [style]="{'width':'630px','height':'45px'}"
          required minlength="3" />
      </div>
      <div class="flex-auto">
        <label for="alphanumeric" class=" block mb-2"> CBO Email: </label>
        <input pInputText id="alphanumeric" ngModel [(ngModel)]="employee.cboEmail"
          pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" name="cboEmail" [style]="{'width':'630px','height':'45px'}"
          required minlength="3" />
      </div>
    </div>

    <div class="flex flex-wrap gap-2 mb-3">
      <div class="flex-auto">
        <label for="hex" class=" block mb-2"> Division: </label>
        <p-dropdown [options]="divisions" name="divisionId" ngModel [(ngModel)]="selectedDivision" optionLabel="name"
          [filter]="true" filterBy="name" [showClear]="true" placeholder="Select Division" class="w-full"
          styleClass="p-password" [style]="{'width':'630px','height':'45px'}" [required]="true">
          <ng-template pTemplate="selectedItem">
            <div class="flex align-items-center gap-2" *ngIf="selectedDivision">
              <div>{{ selectedDivision.name}}</div>
            </div>
          </ng-template>
          <ng-template let-division pTemplate="item">
            <div class="flex align-items-center gap-2">
              <div>{{division.name}}</div>
            </div>
          </ng-template>
        </p-dropdown>
      </div>
      <div class="flex-auto">
        <label for="number" class=" block mb-2"> Phone Number: </label>
        <input pInputText id="number" ngModel [(ngModel)]="employee.phoneNumber" name="phoneNumber"
          [style]="{'width':'630px','height':'45px'}" required minlength="3" pKeyFilter="num" />
      </div>
    </div>
    <div class="flex flex-wrap gap-2 mb-8">
        <div class="flex-auto">
          <label for="integer" class=" block mb-2"> Employee Image: </label>
          <p-fileUpload name="demo[]" (onSelect)="onSelect1($event)" [showUploadButton]=false accept="image/*"
            [style]="{'width':'630px','height':'45px'}" [maxFileSize]="1000000" required>
            <ng-template pTemplate="content">
              <ul *ngIf="uploadedFiles.length">
                <li *ngFor="let file of uploadedFiles">{{ file.name }} - {{ file.size }} bytes</li>
              </ul>
            </ng-template>
          </p-fileUpload>
        </div>
      <div class="flex-auto">
        <label for="integer" class=" block mb-2"> Signature Image: </label>
        <p-fileUpload name="demo[]" [showUploadButton]=false (onSelect)="onSelect2($event)" ngModel
          [(ngModel)]="employee.signatureImage" name="signatureImage" accept="image/*"
          [style]="{'width':'630px','height':'45px'}" [maxFileSize]="1000000" required>
          <ng-template pTemplate="content">
            <ul *ngIf="uploadedFiles.length">
              <li *ngFor="let file of uploadedFiles">{{ file.name }} - {{ file.size }} bytes</li>
            </ul>
          </ng-template>
        </p-fileUpload>
      </div>
    </div>

    <div class="flex flex-wrap gap-2 mb-3">
      <div class="flex-auto">
        <label class="block mb-2"> Gender: </label>
        <div class="flex flex-wrap gap-3">
          <div class="flex align-items-center">
            <p-radioButton name="gender" [(ngModel)]="employee.gender" value="Male"></p-radioButton>
            <label class="ml-2">Male</label>
          </div>

          <div class="flex align-items-center">
            <p-radioButton name="gender" [(ngModel)]="employee.gender" value="Female"></p-radioButton>
            <label class="ml-2">Female</label>
          </div>

        </div>
      </div>
      <div class="flex flex-wrap gap-2 mb-3">
        <div class="flex-auto">
          <label for="number" class=" block mb-2"> Date of birth: </label>
          <p-calendar id="number" ngModel name="birthDate" ngModel [(ngModel)]="employee.birthDate" [showIcon]="true"
            dateFormat="dd/mm/yy" [style]="{'width':'630px','height':'45px'}" [required]="true"></p-calendar>
        </div>
      </div>
    </div>

    <p-button label="Update employee" type="submit" [disabled]="updateEmplForm.invalid" class="createButton"></p-button>
  </form>

</div>
