<div *ngIf="newDiv">
  <form #addUserForm="ngForm" (ngSubmit)="addUser(addUserForm)" required>
    <div class="flex flex-wrap gap-3 mb-3">
        <div class="flex-auto">
            <label for="hex" class=" block mb-2"> Employee </label>
              <p-dropdown [options]="employees" name="employee" [(ngModel)]="selectedEmployee" optionLabel="givenName" [filter]="true"  filterBy="givenName" [showClear]="true" placeholder="Select Employee"
              class="w-full" styleClass="p-password" [style]="{'width':'630px','height':'45px'}"  [required]="true">
              <ng-template pTemplate="selectedItem">
                <div class="flex align-items-center gap-2" *ngIf="selectedEmployee">
                    <div>{{ selectedEmployee.givenName + " " + selectedEmployee.fatherName + " " + selectedEmployee.grandFatherName }}</div>
                </div>
            </ng-template>
                  <ng-template let-employee pTemplate="item">
                      <div class="flex align-items-center gap-2">
                          <div>{{ employee.givenName + " " + employee.fatherName + " " + employee.grandFatherName }}</div>
                      </div>
                  </ng-template>
              </p-dropdown>
        </div>
        <div class="flex-auto">
          <label for="hex" class=" block mb-2"> Branch </label>
              <p-dropdown [options]="branches" name="branch" ngModel [(ngModel)]="selectedBranch" optionLabel="name" [filter]="true" filterBy="name" [showClear]="true" placeholder="Select Branch"
              class="w-full" styleClass="p-password" [style]="{'width':'630px','height':'45px'}"  [required]="true">
          <ng-template pTemplate="selectedItem">
              <div class="flex align-items-center gap-2" *ngIf="selectedBranch">
                  <div>{{ selectedBranch.name }}</div>
              </div>
          </ng-template>
          <ng-template let-branche pTemplate="item">
              <div class="flex align-items-center gap-2">
                  <div>{{branche.name }}</div>
              </div>
          </ng-template>
          </p-dropdown>
        </div>
    </div>
    <div class="flex flex-wrap gap-3 mb-3">
      <div class="flex-auto">
          <label for="alphabetic" class=" block mb-2"> Username </label>
          <input pInputText pKeyFilter="alpha" id="alphabetic" ngModel name="username" [style]="{'width':'630px','height':'45px'}"  required minlength="3"/>
      </div>
      <div class="flex-auto">
          <label for="number" class="block mb-2"> Password </label>
          <p-password [(ngModel)]="value" ngModel name="password" class="w-full" styleClass="p-password"
           [inputStyle]="{'width':'630px','height':'45px'}" [toggleMask]="true" minlength="8" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" required>
              <ng-template pTemplate="header">
                  <h6>Pick a password</h6>
              </ng-template>
              <ng-template pTemplate="footer">
                  <p-divider></p-divider>
                  <p class="mt-2">Suggestions</p>
                  <ul class="pl-2 ml-2 mt-0" style="line-height: 1.5">
                      <li>At least one lowercase</li>
                      <li>At least one uppercase</li>
                      <li>At least one numeric</li>
                      <li>Minimum 8 characters</li>
                  </ul>
              </ng-template>
          </p-password>
      </div>
    </div>
    <div class="flex flex-wrap gap-3 mb-3">
      <div class="flex-auto">
        <label for="hex" class=" block mb-2"> Select Module(s)</label>
        <p-multiSelect [options]="modules" [(ngModel)]="selectedModules" defaultLabel="Select Module(s)" optionLabel="name" display="chip" class="custom-multiselect"></p-multiSelect>
      </div>
    </div>
    <p-button label="Create User"  type="submit" [disabled]="addUserForm.invalid" class="createButton"></p-button>
  </form>
</div>


<div *ngIf="update">
  <form  #updateUserForm="ngForm" (ngSubmit)="updateUser(updateUserForm)">
    <input type="hidden" name="id" ngModel [(ngModel)]="idY">
    <div class="flex flex-wrap gap-3 mb-3">
      <div class="flex-auto">
          <label for="alphabetic" class=" block mb-2"> Username </label>
          <input pInputText id="alphabetic" pKeyFilter="alpha"  ngModel [(ngModel)]="user.username" name="username" [style]="{'width':'630px','height':'45px'}"  required minlength="3" />
      </div>
      <div *ngIf="!isClicked">
        <p-button label="Update Password"  type="button" class="updateButton mt-4" [style]="{'width':'633px'}" (onClick)="changeStatus()"></p-button>
      </div>
      <div class="flex-auto" [hidden]="!isClicked">
          <label for="number" class="block mb-2"> Password </label>
          <p-password [(ngModel)]="value" ngModel [(ngModel)]="isClicked? '' : user.password" pKeyFilter="num" ngModel name="password" required class="w-full" styleClass="p-password"
           [inputStyle]="{'width':'500px','height':'45px'}" [toggleMask]="true" minlength="8">
              <ng-template pTemplate="header">
                  <h6>Pick a password</h6>
              </ng-template>
              <ng-template pTemplate="footer">
                  <p-divider></p-divider>
                  <p class="mt-2">Suggestions</p>
                  <ul class="pl-2 ml-2 mt-0" style="line-height: 1.5">
                      <li>At least one lowercase</li>
                      <li>At least one uppercase</li>
                      <li>At least one numeric</li>
                      <li>Minimum 8 characters</li>
                  </ul>
              </ng-template>
          </p-password>
          <p-button label="Dismiss"  type="button" class="updateButton ml-3" [style]="{'width':'120px', 'height': '35px'}" (onClick)="changeStatus()"></p-button>
      </div>
    </div>
    <div class="flex flex-wrap gap-3 mb-3">
        <div class="flex-auto">
            <label for="hex" class=" block mb-2"> Employee </label>
              <p-dropdown [options]="employees" name="employee" ngModel [(ngModel)]="selectedEmployee" optionLabel="givenName" [filter]="true" filterBy="givenName" [showClear]="true" placeholder="Select Employee"
              class="w-full" styleClass="p-password" [style]="{'width':'630px','height':'45px'}">
              <ng-template pTemplate="selectedItem">
                <div class="flex align-items-center gap-2" *ngIf="selectedEmployee">
                    <div>{{ selectedEmployee.givenName + " " + selectedEmployee.fatherName + " " + selectedEmployee.grandFatherName}}</div>
                </div>
            </ng-template>
                  <ng-template let-employeed pTemplate="item">
                      <div class="flex align-items-center gap-2">
                          <div>{{ employeed.givenName + " " + employeed.fatherName + " " + employeed.grandFatherName }} </div>
                      </div>
                  </ng-template>
              </p-dropdown>
        </div>
        <div class="flex-auto">
            <label for="hex" class=" block mb-2"> Roles </label>
            <p-multiSelect [options]="modules" [(ngModel)]="selectedModules" defaultLabel="Select Module(s)" optionLabel="name" display="chip" styleClass="custom-multiselect"></p-multiSelect>
        </div>
    </div>
    <div class="flex flex-wrap gap-3 mb-3">
      <div class="flex-auto">
        <label for="hex" class=" block mb-2"> Select Module(s)</label>
        <p-multiSelect [options]="modules" [(ngModel)]="selectedModules" defaultLabel="Select Module(s)" optionLabel="name" display="chip" styleClass="custom-multiselect"></p-multiSelect>
      </div>
    </div>
  <div class="flex flex-wrap gap-3 mb-3">
  <div class="flex-auto">
    <label for="hex" class=" block mb-2"> State </label>
      <p-dropdown [options]="states" name="active" ngModel [(ngModel)]="selectedState" optionLabel="name" optionValue="value" [showClear]="true" placeholder="Select State"
      class="w-full" styleClass="p-password" [style]="{'width':'630px','height':'45px'}">
      <ng-template pTemplate="selectedItem">
        <div class="flex align-items-center gap-2">
            <div>{{ selectedState }}</div>
        </div>
      </ng-template>
      <ng-template let-state pTemplate="item">
          <div class="flex align-items-center gap-2">
              <div>{{state.name}}</div>
          </div>
      </ng-template>
      </p-dropdown>
    </div>
  </div>
    <p-button label="Update User"  type="submit" [disabled]="updateUserForm.invalid" class="createButton"></p-button>
  </form>
</div>
