:host ::ng-deep .accordion-custom {
  .accordion-button {
    background-color: var(--cui-dark);
    color: var(--cui-white);
  }
}

.custom-multiselect {
  height: 45px;
  width: 630px;
  align-items:stretch;
}
